.notecard-container{
    margin: 2rem 0;
}


.card{
    color: var(--text-default-clr);
    box-shadow: 0px 0px 35px 25px rgba(0,0,0,0.3);
    min-height: 10rem;
    width: 35rem;
    margin: auto;
    outline: 1px solid var(--outline-color);
    height: auto;
    padding: 0.2rem 0.5rem;
    box-sizing: border-box;
}

.display-card{
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
}


/* thumbpin */

.fa-thumbtack{
    font-size: 0.9rem;
}

.card-thumbtack-container{
    padding: 0 1rem;
    outline: 1px solid white;
    border-radius: 5rem;
    right: 1rem;
    top: 0.8rem;
    cursor: pointer;
}

.thumbtack-active{
    background-color: var(--primary-clr);
    outline: none;
    border: none;
}

/* Content */

.card-header-container{
    display: flex;
}

.card-topic-subtopic-container{
    margin-right: auto;
}

.card-main-topic{
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
    width: 29rem;
}

.card-topic-summary{
    margin-bottom: 0.5rem;
    width: 29rem;
    font-size: 1.1rem;
}

.card-main-topic-input, .card-topic-summary-input{
    width: 100%;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1.3rem;
    font-weight: 350;
    resize: none;
    height: auto;
    margin: 0;
}

.card-main-topic-input,.card-topic-summary-input:active{
    border: none;
    outline: none;
}

.card-topic-summary-input{
    font-size: 0.90rem;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
    min-height: 40vh;
}



/* Label */

.card-label-input{
    margin-left: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 0.8rem;
    font-weight: 350;
    padding: 0.5rem;
    border: 1px solid var(--outline-color);
    border-radius: 0.2rem;
}
.card-label-input:active{
    outline: none;
}

.card-label-tag-container{
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}
.card-label-tag{
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    outline: 1px solid white;
    font-size: 0.8rem;
}



/* Footer */

.card-footer-container{
    margin-top: auto;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 200;
}

.card-footer-icon{
    color: white;
    margin-left: 2rem;
}



/* Modal */
.note-input-master-wrapper {
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    display:none;
    background-color:#000;
    opacity:0.9;
    z-index: 50;
  }

.note-input-container {
    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    border:solid 1px #000;
    display:none;
    background-color:#fff;
    z-index: 100;
    border-radius: 2rem;
  }
  


  .viewModal{
      display: block;
  }



  @media screen and (max-width:800px) {
    .card{
        width: 90vw;
    }
    
  }
  