

.allnotes-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    color: var(--text-default-clr);
    margin-left: 16rem;
}

.allnotes-container-info-text{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 3rem;
}

.allNotes-content-wrapper{
    margin: auto;
    margin: 2rem auto;
}

.actions-nav-container{
    padding: 1.5rem 1rem;
    background-color: var(--secondary-dark-bg);
    box-shadow: 0px 3px 35px 10px rgba(0,0,0,1);
    display: flex;
    justify-content: space-between;
}


.add-note-btn{
    padding: 0.7rem 1rem;
}

.no-notes-alert{
    margin-top: 20vh;
    font-size: 2rem;
}





@media screen and (max-width:800px){
    .allnotes-container{
        margin-left: 0;
    }
}
